.arcodeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 1rem 0;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background: rgba(123, 79, 165, 0.1);
}

.arcodeon.open, .arcodeon:hover {
    background-color: rgba(123, 79, 165, 0.3);
    border-color: rgba(123, 79, 165, 0.5);
}

.arcodeon .content_arcodeon {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.35s ease-in-out, height 0.35s ease-in-out;
}

.arcodeon.open .content_arcodeon {
    height: auto;
    opacity: 1;
    padding: 1rem 2rem;
}

.arcodeon .trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background: transparent;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.arcodeon .trigger:hover {
    color: #ff6f61;
}

.arcodeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url('assets/img/icons/cirle_right_arrow_direction_icon_259750.svg') no-repeat center;
    background-size: contain;
    transform: rotate(90deg);
    transition: transform 0.35s ease;
}

.arcodeon.open .trigger::after {
    transform: rotate(270deg);
}

.arcodeon .trigger h2 {
    font-size: 1.5rem;
    margin: 0;
    text-align: start;
}